<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/index.css" />
<script src="/js/index.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container">
        <div class="basic-ext-container">
            <div class="title">기본 확장자</div>
            <div class="basic-ext-list"></div>
        </div>
        <div class="custom-ext-container">
            <div class="title">커스텀 확장자</div>
            <input type="text" placeholder="확장자 입력" id="custom-ext-input" onkeyup="if(window.event.keyCode===13){customAddEvent()}" />
            <div class="btn-custom-add">+ 추가</div>
            <div class="custom-ext-list">
            </div>
        </div>
    </div>
</body>
<script>

</script>
</html>